
section {
    display: block;

}

.bg-home {
    background-image:url('http://shreethemes.in/approze/layouts/images/home/01.png');
    height: 90vh;
    background-size: cover;
    align-self: center;
    position: relative;
    background-position: center center;
}

.home-center {
    display: table;
    width: 100%;
    height: 100%;
}

.home-desc-center {
    display: table-cell;
    vertical-align: middle;
}

. title-heading {
    line-height: 26px;
    position: relative;
    z-index: 1;
}

.title-heading .para-desc {
    font-size: 17px;
}

.para-desc {
    max-width: 700px;
}

.home-img img {
    max-height: 600px;
    position: relative;
    z-index: 1;
}
.mover-img {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

footer {
    height: 10vh;
    padding: 3vh 0;
    position: relative;
}